
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@model Website_StorePhone3.Models.DB.category
<ul class="nav nav-list">
    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Trang Chủ </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                Cấu hình Users
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                @*  <a href="manage_user.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Quản lí User
                    </a>*@
                @Html.ActionLink("Quản lý User", "manager_user", "HomeAdmin")
                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="typography.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Danh sách quyền
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                @* <a href="profile_users.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh sách User
                    </a>*@
                @Html.ActionLink("Danh sách User", "profile_users", "HomeAdmin")
                <b class="arrow"></b>
            </li>
            <li class="">
                @* <a href="add_users.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thêm User
                    </a>*@
                @Html.ActionLink("Thêm User", "add_user", "HomeAdmin")
                <b class="arrow"></b>
            </li>




        </ul>
    </li>

    <li class="active">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Quản Lý Danh Mục </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="active">
                @* <a href="manage_user.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Loại danh mục
                    </a>*@
                @Html.ActionLink("Loại danh mục", "manager_user", "HomeAdmin")
                <b class="arrow"></b>
            </li>
            <li class="">
                @* <a href="add_supplier.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thêm nhà sản xuất
                    </a>*@
                @Html.ActionLink("Thêm danh mục", "addCategory", "Category")
                <b class="arrow"></b>
            </li>

        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text">Quản lý nhà sản xuất</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>


        <b class="arrow"></b>
        <ul class="submenu">

            <li class="">
                @*   <a href="profile_supplier.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thông tin nhà sản xuất
                    </a>*@
                @Html.ActionLink("Thông tin nhà sản xuất", "Index", "Brand")
                <b class="arrow"></b>
            </li>

            <li class="">
                @* <a href="add_supplier.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thêm nhà sản xuất
                    </a>*@
                @Html.ActionLink("Thêm nhà sản xuất", "addBrand", "Brand")
                <b class="arrow"></b>
            </li>

        </ul>


    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text">Quản lý sản phẩm </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>


        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                @*  <a href="profile_product.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh sách sản phẩm
                    </a>*@
                @Html.ActionLink("Danh sách sản phẩm", "profile_product", "HomeAdmin")
                <b class="arrow"></b>
            </li>

            <li class="">
                @* <a href="add_product.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thêm sản phẩm
                    </a>*@
                @Html.ActionLink("Thêm sản phẩm", "add_Product", "HomeAdmin")
                <b class="arrow"></b>
            </li>
            <li class="">
                @*<a href="manage_color.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh sách màu sắc
                    </a>*@
                @Html.ActionLink("Danh sách màu sắc", "manager_color", "HomeAdmin")
                <b class="arrow"></b>
            </li>

        </ul>


    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-calendar"></i>
            <span class="menu-text">Quản lý đơn hàng </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>


        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                @*  <a href="manage_order.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh sách đơn hàng
                    </a>*@
                @Html.ActionLink("Danh sách đơn hàng", "manager_order", "HomeAdmin")
                <b class="arrow"></b>
            </li>


        </ul>


    </li>




</ul><!-- /.nav-list -->


<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
        </div>
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="index.html">Trang chủ</a>
                </li>

                <li>
                    <a href="@Url.Action("Index")">Quản lý danh mục</a>
                </li>
                <li class="active">Sửa danh mục</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">


            <div class="page-header">
                <h1>
                    Quản lý danh mục
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Sửa danh mục
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="name">Danh mục cha: </label>

                                <div class="col-sm-9">

                                    @Html.DropDownList("parentId", (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { @class = "col-sm-3", name = "" }) 


                                </div>
                                <div class="space-4"></div>
                            </div>
                            <div class="hr hr-24"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="logo">Tên danh mục: </label>

                                <div class="col-sm-9">
                                    <input type="text" value="@Model.name" id="name" name="name" placeholder="Vui lòng nhập tên danh mục" class="col-xs-10" />
                                </div>
                                <div class="space-4"></div>
                            </div>
                            <div class="hr hr-24"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="logo">Code: </label>

                                <div class="col-sm-9">
                                    <input type="text" value="@Model.code" id="code" name="code" placeholder="Vui lòng nhập mã" class="col-xs-10" />
                                </div>
                                <div class="space-4"></div>
                            </div>

                            <div class="hr hr-24"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="logo">Mô tả: </label>

                                <div class="col-sm-9">
                                    <textarea type="text"  id="description" name="description" placeholder="Vui lòng nhập mô tả" class="col-xs-10">@Model.description</textarea>
                                </div>
                                <div class="space-4"></div>
                            </div>
                            <div class="hr hr-24"></div>
                            <div class="space-4"></div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Submit
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>

                            <div class="hr hr-24"></div>

                            <div class="space-24"></div>


                        </form>

                    }
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
