
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@model IEnumerable<Website_StorePhone3.Models.DB.category>
<ul class="nav nav-list">
    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Trang Chủ </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                Cấu hình Users
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                @*  <a href="manage_user.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Quản lí User
                    </a>*@
                @Html.ActionLink("Quản lý User", "manager_user", "HomeAdmin")
                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="typography.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Danh sách quyền
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                @* <a href="profile_users.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh sách User
                    </a>*@
                @Html.ActionLink("Danh sách User", "profile_users", "HomeAdmin")
                <b class="arrow"></b>
            </li>
            <li class="">
                @* <a href="add_users.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thêm User
                    </a>*@
                @Html.ActionLink("Thêm User", "add_user", "HomeAdmin")
                <b class="arrow"></b>
            </li>




        </ul>
    </li>

    <li class="active">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Quản Lý Danh Mục </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="active">
                @* <a href="manage_user.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Loại danh mục
                    </a>*@
                @Html.ActionLink("Loại danh mục", "manager_user", "HomeAdmin")
                <b class="arrow"></b>
            </li>
            <li class="">
                @* <a href="add_supplier.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thêm nhà sản xuất
                    </a>*@
                @Html.ActionLink("Thêm danh mục", "addCategory", "Category")
                <b class="arrow"></b>
            </li>



        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text">Quản lý nhà sản xuất</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>


        <b class="arrow"></b>
        <ul class="submenu">

            <li class="">
                @*   <a href="profile_supplier.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thông tin nhà sản xuất
                    </a>*@
                @Html.ActionLink("Thông tin nhà sản xuất", "Index", "Brand")
                <b class="arrow"></b>
            </li>

            <li class="">
                @* <a href="add_supplier.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thêm nhà sản xuất
                    </a>*@
                @Html.ActionLink("Thêm nhà sản xuất", "addBrand", "Brand")
                <b class="arrow"></b>
            </li>

        </ul>


    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text">Quản lý sản phẩm </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>


        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                @*  <a href="profile_product.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh sách sản phẩm
                    </a>*@
                @Html.ActionLink("Danh sách sản phẩm", "profile_product", "HomeAdmin")
                <b class="arrow"></b>
            </li>

            <li class="">
                @* <a href="add_product.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thêm sản phẩm
                    </a>*@
                @Html.ActionLink("Thêm sản phẩm", "add_Product", "HomeAdmin")
                <b class="arrow"></b>
            </li>
            <li class="">
                @*<a href="manage_color.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh sách màu sắc
                    </a>*@
                @Html.ActionLink("Danh sách màu sắc", "manager_color", "HomeAdmin")
                <b class="arrow"></b>
            </li>

        </ul>


    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-calendar"></i>
            <span class="menu-text">Quản lý đơn hàng </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>


        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                @*  <a href="manage_order.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh sách đơn hàng
                    </a>*@
                @Html.ActionLink("Danh sách đơn hàng", "manager_order", "HomeAdmin")
                <b class="arrow"></b>
            </li>


        </ul>


    </li>




</ul><!-- /.nav-list -->


<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
        </div>
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="index.html">Trang chủ</a>
                </li>

                <li>
                    <a href="index.html">Quản lý danh mục</a>
                </li>
                <li class="active">Thông tin danh mục</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">


            <div class="page-header">
                <h1>
                    Danh mục
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Thông tin các danh mục
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="row">
                        <div class="col-xs-12">

                            <!-- div.table-responsive -->
                            <!-- div.dataTables_borderWrap -->
                            <div>
                                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                <label class="pos-rel">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </th>
                                            <th>Id</th>
                                            
                                            <th>Tên danh mục</th>

                                            <th>
                                                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                                Hiện thị
                                            </th>


                                            <th>Tác vụ</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            @Html.AntiForgeryToken()
                                            if (item.activeFlag == 1)
                                            {




                                                <!--                                        Dòng thứ nhất-->
                                                <tr>
                                                    <td class="center">
                                                        <label class="pos-rel">
                                                            <input type="checkbox" class="ace" />
                                                            <span class="lbl"></span>
                                                        </label>
                                                    </td>


                                                    <td>@item.id</td>
                                                   
                                                    <td class="hidden-480">@item.name</td>
                                                    <!--                                            <td>Thành viên</td>-->

                                                    <td class="hidden-480">
                                                        <div class="col-xs-3">
                                                            <label>
                                                                <input name="switch-field-1" class="ace ace-switch" type="checkbox" />
                                                                <span class="lbl"></span>
                                                            </label>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="hidden-sm hidden-xs action-buttons">

                                                            <a class="green" href="@Url.Action("Edit/"+item.id)">
                                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                            </a>
                                                            @*  @Html.ActionLink("Edit", "Edit", new { id = item.id })*@

                                                            <a class="red" href="@Url.Action("Delete/"+item.id)" onclick="return confirm('Bạn chắc chắn xóa? '+'@item.name');">
                                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>

                                                            </a>
                                                            @*@Html.ActionLink("Delete", "Delete", new { id = item.id})*@

                                                        </div>


                                                    </td>
                                                </tr>


                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable();
    });

</script>



