
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="~/Content/client/img/favicon.png" type="image/png" />
    <title>Eiser ecommerce</title>
    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="css/bootstrap.css" />*@
    <link href="~/Content/client/css/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="vendors/linericon/style.css" />*@
    <link href="~/Content/client/vendors/linericon/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/font-awesome.min.css" />*@
    <link href="~/Content/client/css/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/themify-icons.css" />*@
    <link href="~/Content/client/css/themify-icons.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/flaticon.css" />*@
    <link href="~/Content/client/css/flaticon.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />*@
    <link href="~/Content/client/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />*@
    <link href="~/Content/client/vendors/lightbox/simpleLightbox.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />*@
    <link href="~/Content/client/vendors/nice-select/css/nice-select.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="vendors/animate-css/animate.css" />*@
    <link href="~/Content/client/vendors/animate-css/animate.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.css" />*@
    <link href="~/Content/client/vendors/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <!-- main css -->
    @*<link rel="stylesheet" href="css/style.css" />*@
    <link href="~/Content/client/css/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/responsive.css" />*@
    <link href="~/Content/client/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">

        <div class="main_menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html">
                        <img src="~/Content/client/img/logo.png" alt="" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset w-100"
                         id="navbarSupportedContent">
                        <div class="row w-100 mr-0">
                            <div class="col-lg-5 pr-0">
                                <ul class="nav navbar-nav center_nav pull-right">
                                    <li class="nav-item active">
                                        @*<a class="nav-link" href="index.html">Trang chủ</a>*@
                                        @Html.ActionLink("Trang chủ", "Index", "Home", new { @class = "nav-link" })

                                    </li>
                                    <li class="nav-item  submenu dropdown">
                                        
                                        <a class="nav-link dropdown-toggle" href="@Url.Action("ListPhone")">Điện thoại</a>
                                        <!--<ul class="dropdown-menu">
        <li class="nav-item">-->
                                        @* <a class="nav-link" href="category.html">Danh mục sản phẩm</a>*@
                                        <!--@Html.ActionLink("Danh mục sản phẩm", "ListProduct", "Home", new { @class = "nav-link" })
    </li>
    <li class="nav-item">-->
                                        @* <a class="nav-link" href="single-product.html">Chi tiết sản phẩm</a>*@
                                        <!--@Html.ActionLink("Chi tiết sản phẩm", "SingleProduct", "Home", new { @class = "nav-link" })
    </li>

    <li class="nav-item">-->
                                        @*   <a class="nav-link" href="cart.html">Giỏ hàng</a>*@
                                        <!--@Html.ActionLink("Giỏ hàng", "Cart", "Home", new { @class = "nav-link" })
    </li>
    <li class="nav-item">-->
                                        @*<a class="nav-link" href="checkout.html">Thanh toán</a>*@
                                        <!--@Html.ActionLink("Thanh toán", "CheckOut", "Home", new { @class = "nav-link" })
        </li>
    </ul>-->
                                    </li>
                                    <li class="nav-item  submenu dropdown">
                                        @*<a href="#"
                                           class="nav-link dropdown-toggle"
                                           data-toggle="dropdown"
                                           role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">Laptop</a>*@
                                        <a 
                                           class="nav-link dropdown-toggle"
                                           
                                            href="@Url.Action("ListLaptop")">LapTop</a>
                                        <!--<ul class="dropdown-menu">
                                            <li class="nav-item">-->
                                                @* <a class="nav-link" href="category.html">Danh mục sản phẩm</a>*@
                                                <!--@Html.ActionLink("Danh mục sản phẩm", "ListProduct", "Home", new { @class = "nav-link" })
                                            </li>
                                            <li class="nav-item">-->
                                                @* <a class="nav-link" href="single-product.html">Chi tiết sản phẩm</a>*@
                                                <!--@Html.ActionLink("Chi tiết sản phẩm", "SingleProduct", "Home", new { @class = "nav-link" })
                                            </li>

                                            <li class="nav-item">-->
                                                @*   <a class="nav-link" href="cart.html">Giỏ hàng</a>*@
                                                <!--@Html.ActionLink("Giỏ hàng", "Cart", "Home", new { @class = "nav-link" })
                                            </li>
                                            <li class="nav-item">-->
                                                @*<a class="nav-link" href="checkout.html">Thanh toán</a>*@
                                                <!--@Html.ActionLink("Thanh toán", "CheckOut", "Home", new { @class = "nav-link" })
                                            </li>
                                        </ul>-->
                                    </li>
                                   
                                    <li class="nav-item">
                                        @* <a class="nav-link" href="contact.html">Liên Hệ</a>*@
                                        @Html.ActionLink("Liên hệ", "Contact", "Home", new { @class = "nav-link" })

                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-6 pr-0">
                                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                                    <li class="nav-item">
                                        <nav class="navbar navbar-light bg-light" style="margin-top: 20px;">
                                            <form class="form-inline">
                                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            </form>
                                        </nav>
                                    </li>

                                    <li class="nav-item">
                                        <a class="icons" href="@Url.Action("Login")"><i class="fa fa-sign-in"></i></a>

                                        @*@Html.ActionLink("<i></i>", "Login", "Home", new { @class = "icons fa fa-sign-in" })*@
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Register")" class="icons">
                                            <i class="fa fa-registered"></i>

                                        </a>
                                        @* @Html.ActionLink("<i class='fa fa-registered'></i>", "Register", "Home", new { @class = "icons" })*@
                                    </li>

                                    <li class="nav-item">
                                        <a href="@Url.Action("Cart")" class="icons">
                                            <i class="ti-shopping-cart"></i>

                                        </a>

                                        @* @Html.ActionLink("<i class='ti-shopping-cart'></i>", "Cart", "Home", new { @class = "icons" })*@
                                    </li>

                                    <li class="nav-item">

                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="icons">
                                            <i class="ti-heart" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Sản phẩm hàng đầu </h4>
                    <ul>
                        <li><a href="#">Trang Web Được Quản Lý</a></li>
                        <li><a href="#">Quản Lý Danh Tiếng</a></li>
                        <li><a href="#">Dịch vụ tiếp thị</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Đường dẫn nhanh</h4>
                    <ul>
                        <!--                    <li><a href="#">Jobs</a></li>-->
                        <li><a href="#">Tài sản thương hiệu</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Đặc trưng</h4>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Tài nguyên</h4>
                    <ul>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Experts</a></li>
                        <li><a href="#">Agencies</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Bản tin</h4>
                    <p>You can trust us. we only send promo offers,</p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                              method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                            <button class="click-btn btn btn-default">Subscribe</button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/client/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/client/js/popper.js"></script>
    <script src="~/Content/client/js/bootstrap.min.js"></script>
    <script src="~/Content/client/js/stellar.js"></script>
    <script src="~/Content/client/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/Content/client/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/client/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>
    <script src="~/Content/client/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/client/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/client/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Content/client/vendors/counter-up/jquery.counterup.js"></script>
    <script src="~/Content/client/js/mail-script.js"></script>
    <script src="~/Content/client/js/theme.js"></script>
</body>

</html>